<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Afficher Ordinateur</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<header>
    <p><b><span class="header">OrdinaLand</span> <a class="header-lien" href="/">Accueil</a> <a class="header-lien" href="/construire">Construire un ordinateur</a>
    <a class="header-lien" href="/blog/1">Blog</a> <a class="header-lien" href="/glossaire">Glossaire</a> <a class="header-lien" href="/contact">Contact</a></b>
    </p>
</header>

<body>
    <h1>OrdinaLand<br><span class="h1"><i><u>La</u> référence en matière d'ordinateurs</i></span></h1>

    <h2>Votre ordinateur</h2>
    <p>
    <ul>
        {% if order['case'] %}
            <li>{{order['case']}}</li>
        {% endif %}
        {% if order['motherboard'] %}
            <li>{{order['motherboard']}}</li>
        {% endif %}
        {% if order['cpu'] %}
            <li>{{order['cpu']}}</li>
        {% endif %}
        {% if order['storage'] %}
            <li>{{order['storage']}}</li>
        {% endif %}
        {% if order['cooling'] %}
            <li>{{order['cooling']}}</li>
        {% endif %}
        {% if order['ram'] %}
            <li>{{order['ram']}}</li>
        {% endif %}
        {% if order['power'] %}
            <li>{{order['power']}}</li>
        {% endif %}
        {% if order['keyboard'] %}
            <li>{{order['keyboard']}}</li>
        {% endif %}
        {% if order['mouse'] %}
            <li>{{order['mouse']}}</li>
        {% endif %}
        {% if order['monitor'] %}
            <li>{{order['monitor']}}</li>
        {% endif %}
    </ul>
    </p>

    <p>
        Sous-total : {{subtotal}}$
        <br><br>
        Taxes : {{tax}}$
        <br><br>
        {% if postalcode %}
            Livraison : {{postalcode}}$
        {% endif %}
    </p>
    <h3>Total : {{grand_total}}$</h3>
</body>

<footer><p class="footer">2022 - OrdinaLand</p></footer>

</html>