<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Afficher Ordinateur</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <header>OrdinaLand   <a href="/">Accueil</a>   <a href="/construire">Construire un ordinateur</a>
    <a href="/blog/1">Blog</a>   <a href="/glossaire">Glossaire</a>   <a href="/contact">Contact</a></header>
    <h1><b>OrdinaLand</b><br><i><u>La</u> référence en matière d'ordinateurs</i></h1>

    <p>
        AFFICHER ORDINATEUR
        <br>
        {{postalcode}}
        <br>
    </p>

    <footer>2022 - OrdinaLand</footer>
</body>
</html>