<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<header>
    <p><b><span class="header">OrdinaLand</span> <a class="header-lien" href="/">Accueil</a> <a class="header-lien" href="/construire">Construire un ordinateur</a>
    <a class="header-lien" href="/blog/1">Blog</a> <a class="header-lien" href="/glossaire">Glossaire</a> <a class="header-lien" href="/contact">Contact</a></b>
    </p>
</header>

<body>
    <h1><b>OrdinaLand</b><br><i><u>La</u> référence en matière d'ordinateurs</i></h1>

    <h3>Sur le Blog...</h3>

    {% if nb_total_pages == page %}

        {%if ((page * 6) - 3) == (long_tab_deux_pg - 1) %}

            <p>{{tab_deux_pg[(page * 6) - 6]}}

                {% for pg_A in tab_deux_pg[(page * 6) - 5] %}
                    <br><br> {{pg_A}}
                {% endfor %}

                <br><br> <a href="/article/{{(page * 3) - 3}}">Lire l'article</a></p>


            <p>{{tab_deux_pg[(page * 6) - 4]}}

                {% for pg_B in tab_deux_pg[(page * 6) - 3] %}
                    <br><br> {{pg_B}}
                {% endfor %}

                <br><br> <a href="/article/{{(page * 3) - 2}}">Lire l'article</a></p>


        {% elif ((page * 6) - 5) == (long_tab_deux_pg - 1) %}

            <p>{{tab_deux_pg[(page * 6) - 6]}}

                {% for pg_A in tab_deux_pg[(page * 6) - 5] %}
                    <br><br> {{pg_A}}
                {% endfor %}

                <br><br> <a href="/article/{{(page * 3) - 3}}">Lire l'article</a></p>


        {% else %}

            <p>{{tab_deux_pg[(page * 6) - 6]}}

                {% for pg_A in tab_deux_pg[(page * 6) - 5] %}
                    <br><br> {{pg_A}}
                {% endfor %}

                <br><br> <a href="/article/{{(page * 3) - 3}}">Lire l'article</a></p>


            <p>{{tab_deux_pg[(page * 6) - 4]}}

                {% for pg_B in tab_deux_pg[(page * 6) - 3] %}
                    <br><br> {{pg_B}}
                {% endfor %}

                <br><br> <a href="/article/{{(page * 3) - 2}}">Lire l'article</a></p>


            <p>{{tab_deux_pg[(page * 6) - 2]}}

                {% for pg_C in tab_deux_pg[(page * 6) - 1] %}
                    <br><br> {{pg_C}}
                {% endfor %}

                <br><br> <a href="/article/{{(page * 3) - 1}}">Lire l'article</a></p>

        {% endif %}

    {% endif %}


    {% if nb_total_pages != page %}

        <p>{{tab_deux_pg[(page * 6) - 6]}}

            {% for pg_A in tab_deux_pg[(page * 6) - 5] %}
                <br><br> {{pg_A}}
            {% endfor %}

            <br><br> <a href="/article/{{(page * 3) - 3}}">Lire l'article</a></p>


        <p>{{tab_deux_pg[(page * 6) - 4]}}

            {% for pg_B in tab_deux_pg[(page * 6) - 3] %}
                <br><br> {{pg_B}}
            {% endfor %}

            <br><br> <a href="/article/{{(page * 3) - 2}}">Lire l'article</a></p>


        <p>{{tab_deux_pg[(page * 6) - 2]}}

            {% for pg_C in tab_deux_pg[(page * 6) - 1] %}
                <br><br> {{pg_C}}
            {% endfor %}

            <br><br> <a href="/article/{{(page * 3) - 1}}">Lire l'article</a></p>

    {% endif %}

    <br>
    {% for nb_page in range(1, nb_total_pages + 1) %}

        {% if (nb_page == page) %}
            <nobr>{{nb_page}}</nobr>

        {% else %}
            <nobr><a href="/blog/{{nb_page}}">{{nb_page}}</a></nobr>

        {% endif %}
    {% endfor %}
    <br><br>

    <footer>2022 - OrdinaLand</footer>
</body>

</html>