<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Construire un ordinateur</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <header>OrdinaLand   <a href="index.html">Accueil</a>   <a href="construire.html">Construire un ordinateur</a>
    <a href="blog.html">Blog</a>   <a href="glossaire.html">Glossaire</a>   <a href="contact.html">Contact</a></header>
    <h1><b>OrdinaLand</b><br><i><u>La</u> référence en matière d'ordinateurs</i></h1>
    <h2><b>Monter votre ordinateur</b></h2>
    <p>Cette page sert d'assistant pour choisir les composantes de votre futur ordinateur</p>
    <footer>2022 - OrdinaLand</footer>
</body>
</html>