<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Construire un ordinateur</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<header>
    <p><b><span class="header">OrdinaLand</span> <a class="header-lien" href="/">Accueil</a> <a class="header-lien" href="/construire">Construire un ordinateur</a>
    <a class="header-lien" href="/blog/1">Blog</a> <a class="header-lien" href="/glossaire">Glossaire</a> <a class="header-lien" href="/contact">Contact</a></b>
    </p>
</header>

<body>
    <h1><b>OrdinaLand</b><br><i><u>La</u> référence en matière d'ordinateurs</i></h1>

    <h2><b>Monter votre ordinateur</b></h2>

    <p>Cette page sert d'assistant pour choisir les composantes de votre futur ordinateur</p>

    <form method="post" action="/afficher-ordinateur">
        <p><h3>Case <a href="/glossaire/case">(description)</a></h3></p>
        <div>
            {% for item_case in choix['case'] %}
                <input type="radio" id="{{item_case}}" name="case" value="{{item_case.description}}">
                <label for="{{item_case}}"><u>{{item_case.prix}}</u> - {{item_case.description}}
                <a href="{{item_case.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Motherboard <a href="/glossaire/motherboard">(description)</a></h3></p>
        <div>
            {% for item_mb in choix['motherboard'] %}
                <input type="radio" id="{{item_mb}}" name="motherboard" value="{{item_mb.description}}">
                <label for="{{item_mb}}"><u>{{item_mb.prix}}</u> - {{item_mb.description}}
                <a href="{{item_mb.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Cpu <a href="/glossaire/cpu">(description)</a></h3></p>
        <div>
            {% for item_cpu in choix['cpu'] %}
                <input type="radio" id="{{item_cpu}}" name="cpu" value="{{item_cpu.description}}">
                <label for="{{item_cpu}}"><u>{{item_cpu.prix}}</u> - {{item_cpu.description}}
                <a href="{{item_cpu.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Storage <a href="/glossaire/storage">(description)</a></h3></p>
        <div>
            {% for item_storage in choix['storage'] %}
                <input type="radio" id="{{item_storage}}" name="storage" value="{{item_storage.description}}">
                <label for="{{item_storage}}"><u>{{item_storage.prix}}</u> - {{item_storage.description}}
                <a href="{{item_storage.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Cooling <a href="/glossaire/cooling">(description)</a></h3></p>
        <div>
             {% for item_cooling in choix['cooling'] %}
                <input type="radio" id="{{item_cooling}}" name="cooling" value="{{item_cooling.description}}">
                <label for="{{item_cooling}}"><u>{{item_cooling.prix}}</u> - {{item_cooling.description}}
                <a href="{{item_cooling.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Ram <a href="/glossaire/ram">(description)</a></h3></p>
        <div>
            {% for item_ram in choix['ram'] %}
                <input type="radio" id="{{item_ram}}" name="ram" value="{{item_ram.description}}">
                <label for="{{item_ram}}"><u>{{item_ram.prix}}</u> - {{item_ram.description}}
                <a href="{{item_ram.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Power <a href="/glossaire/power">(description)</a></h3></p>
        <div>
            {% for item_power in choix['power'] %}
                <input type="radio" id="{{item_power}}" name="power" value="{{item_power.description}}">
                <label for="{{item_power}}"><u>{{item_power.prix}}</u> - {{item_power.description}}
                <a href="{{item_power.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Keyboard <a href="/glossaire/keyboard">(description)</a></h3></p>
        <div>
            {% for item_kb in choix['keyboard'] %}
                <input type="radio" id="{{item_kb}}" name="keyboard" value="{{item_kb.description}}">
                <label for="{{item_kb}}"><u>{{item_kb.prix}}</u> - {{item_kb.description}}
                <a href="{{item_kb.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Mouse <a href="/glossaire/mouse">(description)</a></h3></p>
        <div>
            {% for item_mouse in choix['mouse'] %}
                <input type="radio" id="{{item_mouse}}" name="mouse" value="{{item_mouse.description}}">
                <label for="{{item_mouse}}"><u>{{item_mouse.prix}}</u> - {{item_mouse.description}}
                <a href="{{item_mouse.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p><h3>Monitor <a href="/glossaire/monitor">(description)</a></h3></p>
        <div>
            {% for item_monitor in choix['monitor'] %}
                <input type="radio" id="{{item_monitor}}" name="monitor" value="{{item_monitor.description}}">
                <label for="{{item_monitor}}"><u>{{item_monitor.prix}}</u> - {{item_monitor.description}}
                <a href="{{item_monitor.lien}}">[voir]</a></label>
                <br>
            {% endfor %}
        </div>

        <p>
            Pour ajouter la livraison, entrez votre code postal :
            <input type="text" name="postalcode">
            <br><br>
            <button type="submit">Calculer le prix!</button>
        </p>
    </form>

    <footer>2022 - OrdinaLand</footer>
</body>

</html>