<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <header>OrdinaLand   <a href="/">Accueil</a>   <a href="/construire">Construire un ordinateur</a>
    <a href="/blog/1">Blog</a>   <a href="/glossaire">Glossaire</a>   <a href="/contact">Contact</a></header>
    <h1><b>OrdinaLand</b><br><i><u>La</u> référence en matière d'ordinateurs</i></h1>
    <h2><b>Pour nous contacter</b></h2>
    <p>Nos bureaux sont ouverts 7 jours sur 7, de 8h à 19h<br>Passez nous voir!</p>
    <footer>2022 - OrdinaLand</footer>
</body>
</html>