<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<header>
    <p><b><span class="header">OrdinaLand</span> <a class="header-lien" href="/">Accueil</a> <a class="header-lien" href="/construire">Construire un ordinateur</a>
    <a class="header-lien" href="/blog/1">Blog</a> <a class="header-lien" href="/glossaire">Glossaire</a> <a class="header-lien" href="/contact">Contact</a></b>
    </p>
</header>

<body>
    <h1><b>OrdinaLand</b><br><i><u>La</u> référence en matière d'ordinateurs</i></h1>

    <h2><b>Pour nous contacter</b></h2>

    <p>Nos bureaux sont ouverts 7 jours sur 7, de 8h à 19h<br><br>Passez nous voir!</p>

    <p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2794.611239294297!2d-73.67815538497702!3d45.53802823653597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9188f20b115b7%3A0x9ff096f63fa10692!2sCollege%20of%20Bois-de-Boulogne!5e0!3m2!1sen!2sca!4v1662999282398!5m2!1sen!2sca"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </p>

    <footer>2022 - OrdinaLand</footer>
</body>

</html>