<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Definition</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<header>
    <p><b><span class="header">OrdinaLand</span> <a class="header-lien" href="/">Accueil</a> <a class="header-lien" href="/construire">Construire un ordinateur</a>
    <a class="header-lien" href="/blog/1">Blog</a> <a class="header-lien" href="/glossaire">Glossaire</a> <a class="header-lien" href="/contact">Contact</a></b>
    </p>
</header>

<body>
    <h1>OrdinaLand<br><span class="h1"><i><u>La</u> référence en matière d'ordinateurs</i></span></h1>

    <h3>Définition : {{mot}}</h3>

    <div class="paragraphe-format">
    <p>{{glossaire[place].texte}}</p>

    <p>Source : <a href="{{glossaire[place].source}}">{{glossaire[place].source}}</a></p></div>

    <h3>Mots reliés</h3>

    <p>
        <ul class="glossaire-mots">
        {% for item in termes_relies %}
        <li><a href="/glossaire/{{item}}">{{item}}</a><br></li>
        {% endfor %}
        <br>
        </ul>
        <span class="paragraphe-format">
        <a href="/glossaire">Retour au Glossaire</a></span>
    </p>

    <p class="beforefooter-definition"></p>
</body>

<footer><p class="footer">2022 - OrdinaLand</p></footer>

</html>