<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Definition</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<header>
    <p><b><span class="header">OrdinaLand</span> <a class="header-lien" href="/">Accueil</a> <a class="header-lien" href="/construire">Construire un ordinateur</a>
    <a class="header-lien" href="/blog/1">Blog</a> <a class="header-lien" href="/glossaire">Glossaire</a> <a class="header-lien" href="/contact">Contact</a></b>
    </p>
</header>

<body>
    <h1><b>OrdinaLand</b><br><i><u>La</u> référence en matière d'ordinateurs</i></h1>

    <h2><b>Définition : {{mot}}</b></h2>

    <p>{{glossaire[place].texte}}</p>

    <p>Source : <a href="{{glossaire[place].source}}">{{glossaire[place].source}}</a></p>

    <h3><b>Mots reliés</b></h3>

    <p>
        {% for item in termes_relies %}
        <a href="/glossaire/{{item}}">{{item}}</a><br>
        {% endfor %}
        <br>
        <a href="/glossaire">Retour au Glossaire</a>
    </p>

    <footer>2022 - OrdinaLand</footer>
</body>

</html>