<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<header>
    <p>OrdinaLand   <a href="index.html">Accueil</a>   <a href="construire.html">Construire un ordinateur</a>
    <a href="blog.html">Blog</a>   <a href="glossaire.html">Glossaire</a>   <a href="contact.html">Contact</a>
    </p></header>
<body>
    <h1><b>OrdinaLand</b><br><i><u>La</u> référence en matière d'ordinateurs</i></h1>
    <h2>Première visite sur le site<br>Faites un tour sur notre <a href="construire.html">outil d'aide à monter un
        ordinateur!</a></h2>
    <h3>Sur le Blog...</h3>
    <p>{{var0}} <br> <pre>{{var1}}</pre> <br> <a href="article.html">Lire l'article</a></p>
    <p>{{var2}} <br> <pre>{{var3}}</pre> <br> <a href="article.html">Lire l'article</a></p>
    <p>{{var4}} <br> <pre>{{var5}}</pre> <br> <a href="article.html">Lire l'article</a></p>
    <p><a href="article.html">Voir tous les articles de blog</a></p>
</body>
<footer>2022 - OrdinaLand</footer>
</html>